.book_search-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book_search-form_fields {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.book_search-input {
  font-size: 24px;
  width: 60%;
  border: none;
}

.book_search-submit {
  font-size:  24px;
  background-color: #fff;
  border: none;
  width: 30%;
  border-radius: 1px;
  cursor: pointer;
}

.book_search-sorting {
  width:  50%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 0;
}

.book_search-sorting button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 1px;
  background-color: #fff;
}

.book_search-sorting button:hover {
  background-color: #282c34;
  color: #fff;
  transition-duration: 0.2s;
}

.book_search-response {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:  flex-end;
}

.book_wrapper {
  width:  29%;
  margin: 15px;
}

.book_container {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 15px;
  padding: 20px 15px;
}

.book_cover {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.book_title {
  text-align: center;
}

.book_author {
  text-align: center;
}

.book_publish-date {
  text-align: center;
}

@media (max-width: 900px) {
  .book_wrapper {
    width:  45%;
    margin: 15px;
  }
}

@media (max-width: 400px) {
  .book_search-header {
    padding: 0 10px;
  }

  .book_search-form_fields {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .book_search-input {
    font-size: 24px;
    width: 100%;
    border: none;
    margin: 0 0 10px 0;
  }

  .book_search-submit {
    font-size:  24px;
    background-color: #fff;
    border: none;
    width: 50%;
    border-radius: 1px;
    cursor: pointer;
  }

  .book_search-sorting {
    margin: 45px 0 0 0;
    width:  100%;
  }

  .book_wrapper {
    width: 100%;
    margin: 15px;
  }
}
